.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;

}
.tile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.organization {
  margin: 0;
  margin-top: 4px;
  font-size: 14px;
}

.titleContainer p {
  margin: 0;
}

.projectName {
  margin: 0;
}

.requirementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.requirementContainer h5,
p {
  margin: 0;
}

.requirementContainer p {
  font-size: 14px;
}

.description {
  font-size: 17px;
}
.supportedBy {
  text-align: center;
  margin-top: 7px;
  font-size: 14px;
}

.tile {
  padding: 7px;
  margin: 6px 0px;
  background-color: rgba(252, 252, 252, 0.856);
  border: 0.25px solid black;
  border-radius: 4px;
  text-align: center;
}
.gAplikuj{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;  /* Dopasowuje szerokość do treści */
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 150px !important;            /* Automatyczna szerokość */
  padding-right:16px !important;
  padding-left:16px !important;        /* Dopasowane odstępy (możesz zmienić) */
  white-space: nowrap;    /* Zapobiega zawijaniu tekstu */
}

button {
  width: 50%;
  margin: 7px 0px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #0d6efd; /* Kolor primary */
  border: 1px solid #0d6efd;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}
input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 7px 0px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  padding: 4px;
  background-color: #0d6efd; /* Kolor primary */
  border: 1px solid #0d6efd;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}
button:hover {
  cursor: pointer;
}
